<h1>Genres index</h1>
  <table class="table">
    <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <th><%= genre.name %></th>
        <th><%= link_to 'Edit', edit_genre_path(genre), class: 'btn btn-outline-info btn-sm'  %></th>
        <th><%= link_to 'Destroy', genre, method: :delete, class: 'btn btn-outline-danger btn-sm'  %></th>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @genres %>
<br>
<%= link_to 'ジャンル作成', new_genre_path, class: 'btn btn-primary' %>
<%= link_to 'プレイヤー一覧', players_path, class: 'btn btn-primary'  %>
<%= link_to 'できごと一覧', questions_path, class: 'btn btn-primary'  %>
<%= link_to '伝言板を見る', root_path, class: 'btn btn-primary' %>
<%= link_to 'クイズに挑戦する！', root_path, class: 'btn btn-success' %>
