<%= form_with model: @question do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>
  <a><%= f.label :year %><br>
  <button class="btn btn-danger">A.D.</button>
  <%= f.number_field :year %>　年</a><br><br>
  <%= f.label :month %>
  <%= f.select :month, [["1月",1],["2月",2],["3月",3],["4月",4],["5月",5],["6月",6],["7月",7],
  ["8月",8],["9月",9],["10月",10],["11月",11],["12月",12]] %><br>
  <br>
  <h5>ジャンル選択</h5>
  <%  @genres.each do |genre| %> 
    <div>
      <%= f.radio_button :genre_id, genre.id %>
    　<%= f.label :genre_id, genre.name %>
    </div>
  <% end %>
  <br>
  <%= f.label :memo %><br>
  <%= f.text_area :memo, size: "50x5"%><br>
  <% if current_user.player.admin == true %>
    <%= f.radio_button :playable, true %>
    <%= f.label :playable, "公開" %>
    <%= f.radio_button :playable, false %>
    <%= f.label :playable, "公開中止" %><br>
  <% end %>
  <%= f.submit %>
  <br>
<% end %>
<br>