<h4><%= @question.name %> の詳細</h4>
<br>
<p>ジャンル:
<%= @question.genre.name %></p>
<p>起こった年月:
<%= @question.year %> 年　<%= @question.month %>月</p>
<p>うんちく:</p>
<div class="border border-secondary rounded ">
  <%= @question.memo %>
</div>
<br>
<p>作成者: 
<%= @question.user.name %></p>

<%= link_to 'Edit', edit_question_path(@question), class: 'btn btn-primary' %>
<%= link_to 'Back', questions_path, class: 'btn btn-primary' %>