<h3>プレイヤー一覧画面</h3>
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th>ユーザー名</th>
        <th>回答数</th>
        <th>正解数</th>
        <th>作成数</th>
        <% if current_user.player.admin == true %>
          <th>管理者</th>
          <th colspan="3"></th>
        <% else %>
          <th colspan="1"></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @players.each do |player| %>
        <tr>
          <th><%= player.user.name %></th>
          <th><%= player.game %></th>
          <th><%= player.correct %></th>
          <th><%= player.user.questions.count %></th>
          <% if current_user.player.admin == true %>
            <th><%= player.admin %>
          <% end %>
          <th><%= link_to '詳細', player_path(player), class: 'btn btn-outline-info btn-sm' %></th>
          <% if current_user.player.admin == true %>
            <th><%= link_to '編集', edit_player_path(player), class: 'btn btn-outline-info btn-sm'  %></th>
            <th><%= link_to '削除', player, method: :delete, class: 'btn btn-outline-danger btn-sm'  %></th>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @players %>
<br>
<%= link_to 'ジャンル一覧', genres_path, class: 'btn btn-primary m-1' %>
<% if current_user.player.admin == true %>
  <%= link_to 'できごと一覧', questions_path, class: 'btn btn-primary m-1'  %>
<% end %>
<%= link_to '伝言板を見る', root_path, class: 'btn btn-primary m-1' %>
<%= link_to 'クイズに挑戦する！', games_prepare_path, class: 'btn btn-success m-1 ' %>
<%= link_to 'My Page', root_path, class: 'btn btn-primary m-1' %>