<div class="card">
  <div class="card-body">
    <h5 class="card-title">プレイヤー情報：<%= @player.user.name %></h5>
    <hr>
    <p class="card-text">
    <% if @player.game >= 100 %>
      <p class="text-danger">Lank: Master!</p>
    <% elsif @player.game >= 10 %>
      <p class="text-success">Lank: Veteran</p>
    <% elsif @player.game >= 5 %>
      <p class="text-info">Lank: apprentice</p>
    <% else %>
      <p class="text-muted">Lank: Beginner</p>   
    <% end %>
    <a>回答数：<%= @player.game %></a><br>
    <a>正解数：<%= @player.correct %></a><br>
    <a>問題作成数： <%= @player.user.questions.count %></a><br>
    <a>得意ジャンル：<%= @player.favorite_genre %></a><br>
    <a>ひとこと：<%= @player.message %></a><br>
    </p>
  </div>
</div>
<br>
<%= link_to 'ジャンル一覧', genres_path, class: 'btn btn-primary m-1' %>
<%= link_to 'プレイヤー一覧', players_path, class: 'btn btn-primary m-1'  %>
<% if current_user.player.admin == true %>
  <%= link_to 'できごと一覧', questions_path, class: 'btn btn-primary m-1'  %>
<% end %>
<%= link_to '伝言板を見る', root_path, class: 'btn btn-primary m-1' %>
<%= link_to 'クイズに挑戦する！', games_prepare_path, class: 'btn btn-success m-1' %>
<%= link_to 'My Page', root_path, class: 'btn btn-primary m-1' %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-primary m-1'  %>
